# coding: utf-8

"""
    Data API

    # This API provide access to FACEIT's data  # noqa: E501

    OpenAPI spec version: 4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from faceit_api.api_client import ApiClient


class ChampionshipsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_championship(self, championship_id, **kwargs):  # noqa: E501
        """Retrieve championship details  # noqa: E501

        Retrieve championship details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championship(championship_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str championship_id: The id of the championship (required)
        :param list[str] expanded: List of entity names to expand in request
        :return: Championship
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_championship_with_http_info(championship_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_championship_with_http_info(championship_id, **kwargs)  # noqa: E501
            return data

    def get_championship_with_http_info(self, championship_id, **kwargs):  # noqa: E501
        """Retrieve championship details  # noqa: E501

        Retrieve championship details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championship_with_http_info(championship_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str championship_id: The id of the championship (required)
        :param list[str] expanded: List of entity names to expand in request
        :return: Championship
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['championship_id', 'expanded']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_championship" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'championship_id' is set
        if self.api_client.client_side_validation and ('championship_id' not in params or
                                                       params['championship_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `championship_id` when calling `get_championship`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'championship_id' in params:
            path_params['championship_id'] = params['championship_id']  # noqa: E501

        query_params = []
        if 'expanded' in params:
            query_params.append(('expanded', params['expanded']))  # noqa: E501
            collection_formats['expanded'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/championships/{championship_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Championship',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_championship_matches(self, championship_id, **kwargs):  # noqa: E501
        """Retrieve all matches of a championship  # noqa: E501

        Retrieve all matches of a championship  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championship_matches(championship_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str championship_id: The id of the championship (required)
        :param str type: Kind of matches to return. Can be all(default), upcoming, ongoing or past
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: MatchList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_championship_matches_with_http_info(championship_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_championship_matches_with_http_info(championship_id, **kwargs)  # noqa: E501
            return data

    def get_championship_matches_with_http_info(self, championship_id, **kwargs):  # noqa: E501
        """Retrieve all matches of a championship  # noqa: E501

        Retrieve all matches of a championship  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championship_matches_with_http_info(championship_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str championship_id: The id of the championship (required)
        :param str type: Kind of matches to return. Can be all(default), upcoming, ongoing or past
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: MatchList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['championship_id', 'type', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_championship_matches" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'championship_id' is set
        if self.api_client.client_side_validation and ('championship_id' not in params or
                                                       params['championship_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `championship_id` when calling `get_championship_matches`")  # noqa: E501

        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_championship_matches`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 100):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_championship_matches`, must be a value less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_championship_matches`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'championship_id' in params:
            path_params['championship_id'] = params['championship_id']  # noqa: E501

        query_params = []
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/championships/{championship_id}/matches', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MatchList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_championship_results(self, championship_id, **kwargs):  # noqa: E501
        """Retrieve all results of a championship  # noqa: E501

        Retrieve all results of a championship  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championship_results(championship_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str championship_id: The id of the championship (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: ChampionshipResultList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_championship_results_with_http_info(championship_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_championship_results_with_http_info(championship_id, **kwargs)  # noqa: E501
            return data

    def get_championship_results_with_http_info(self, championship_id, **kwargs):  # noqa: E501
        """Retrieve all results of a championship  # noqa: E501

        Retrieve all results of a championship  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championship_results_with_http_info(championship_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str championship_id: The id of the championship (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: ChampionshipResultList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['championship_id', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_championship_results" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'championship_id' is set
        if self.api_client.client_side_validation and ('championship_id' not in params or
                                                       params['championship_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `championship_id` when calling `get_championship_results`")  # noqa: E501

        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_championship_results`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 100):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_championship_results`, must be a value less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_championship_results`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'championship_id' in params:
            path_params['championship_id'] = params['championship_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/championships/{championship_id}/results', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ChampionshipResultList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_championship_subscriptions(self, championship_id, **kwargs):  # noqa: E501
        """Retrieve all subscriptions of a championship  # noqa: E501

        Retrieve all subscriptions of a championship  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championship_subscriptions(championship_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str championship_id: The id of the championship (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: ChampionshipSubscriptionsList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_championship_subscriptions_with_http_info(championship_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_championship_subscriptions_with_http_info(championship_id, **kwargs)  # noqa: E501
            return data

    def get_championship_subscriptions_with_http_info(self, championship_id, **kwargs):  # noqa: E501
        """Retrieve all subscriptions of a championship  # noqa: E501

        Retrieve all subscriptions of a championship  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championship_subscriptions_with_http_info(championship_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str championship_id: The id of the championship (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: ChampionshipSubscriptionsList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['championship_id', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_championship_subscriptions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'championship_id' is set
        if self.api_client.client_side_validation and ('championship_id' not in params or
                                                       params['championship_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `championship_id` when calling `get_championship_subscriptions`")  # noqa: E501

        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_championship_subscriptions`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 10):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_championship_subscriptions`, must be a value less than or equal to `10`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_championship_subscriptions`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'championship_id' in params:
            path_params['championship_id'] = params['championship_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/championships/{championship_id}/subscriptions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ChampionshipSubscriptionsList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_championships(self, game, **kwargs):  # noqa: E501
        """Retrieve all championships of a game  # noqa: E501

        Retrieve all championships of a game  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championships(game, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str game: The id of the game (required)
        :param str type: Kind of matches to return. Can be all(default), upcoming, ongoing or past
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: ChampionshipsList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_championships_with_http_info(game, **kwargs)  # noqa: E501
        else:
            (data) = self.get_championships_with_http_info(game, **kwargs)  # noqa: E501
            return data

    def get_championships_with_http_info(self, game, **kwargs):  # noqa: E501
        """Retrieve all championships of a game  # noqa: E501

        Retrieve all championships of a game  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_championships_with_http_info(game, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str game: The id of the game (required)
        :param str type: Kind of matches to return. Can be all(default), upcoming, ongoing or past
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: ChampionshipsList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['game', 'type', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_championships" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'game' is set
        if self.api_client.client_side_validation and ('game' not in params or
                                                       params['game'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `game` when calling `get_championships`")  # noqa: E501

        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_championships`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 10):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_championships`, must be a value less than or equal to `10`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_championships`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'game' in params:
            query_params.append(('game', params['game']))  # noqa: E501
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/championships', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ChampionshipsList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
