# coding: utf-8

"""
    Data API

    # This API provide access to FACEIT's data  # noqa: E501

    OpenAPI spec version: 4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from faceit_api.api_client import ApiClient


class PlayersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_player(self, player_id, **kwargs):  # noqa: E501
        """Retrieve player details  # noqa: E501

        Retrieve player details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :return: Player
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_player_with_http_info(player_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_player_with_http_info(player_id, **kwargs)  # noqa: E501
            return data

    def get_player_with_http_info(self, player_id, **kwargs):  # noqa: E501
        """Retrieve player details  # noqa: E501

        Retrieve player details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_with_http_info(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :return: Player
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['player_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_player" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'player_id' is set
        if self.api_client.client_side_validation and ('player_id' not in params or
                                                       params['player_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `player_id` when calling `get_player`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'player_id' in params:
            path_params['player_id'] = params['player_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/players/{player_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Player',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_player_bans(self, player_id, **kwargs):  # noqa: E501
        """Retrieve all bans of a player  # noqa: E501

        Retrieve all bans of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_bans(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: PlayerBansList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_player_bans_with_http_info(player_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_player_bans_with_http_info(player_id, **kwargs)  # noqa: E501
            return data

    def get_player_bans_with_http_info(self, player_id, **kwargs):  # noqa: E501
        """Retrieve all bans of a player  # noqa: E501

        Retrieve all bans of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_bans_with_http_info(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: PlayerBansList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['player_id', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_player_bans" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'player_id' is set
        if self.api_client.client_side_validation and ('player_id' not in params or
                                                       params['player_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `player_id` when calling `get_player_bans`")  # noqa: E501

        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_player_bans`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 100):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_bans`, must be a value less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_bans`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'player_id' in params:
            path_params['player_id'] = params['player_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/players/{player_id}/bans', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlayerBansList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_player_from_lookup(self, **kwargs):  # noqa: E501
        """Retrieve player details  # noqa: E501

        Retrieve player details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_from_lookup(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str nickname: The nickname of the player on FACEIT
        :param str game: A game on FACEIT
        :param str game_player_id: The ID of a player on game's platform
        :return: Player
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_player_from_lookup_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_player_from_lookup_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_player_from_lookup_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve player details  # noqa: E501

        Retrieve player details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_from_lookup_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str nickname: The nickname of the player on FACEIT
        :param str game: A game on FACEIT
        :param str game_player_id: The ID of a player on game's platform
        :return: Player
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['nickname', 'game', 'game_player_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_player_from_lookup" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'nickname' in params:
            query_params.append(('nickname', params['nickname']))  # noqa: E501
        if 'game' in params:
            query_params.append(('game', params['game']))  # noqa: E501
        if 'game_player_id' in params:
            query_params.append(('game_player_id', params['game_player_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/players', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Player',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_player_history(self, player_id, game, **kwargs):  # noqa: E501
        """Retrieve all matches of a player  # noqa: E501

        Retrieve all matches of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_history(player_id, game, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param str game: A game on FACEIT (required)
        :param int _from: The timestamp (Unix time) as lower bound of the query. 1 month ago if not specified
        :param int to: The timestamp (Unix time) as higher bound of the query. Current timestamp if not specified
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: MatchHistoryList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_player_history_with_http_info(player_id, game, **kwargs)  # noqa: E501
        else:
            (data) = self.get_player_history_with_http_info(player_id, game, **kwargs)  # noqa: E501
            return data

    def get_player_history_with_http_info(self, player_id, game, **kwargs):  # noqa: E501
        """Retrieve all matches of a player  # noqa: E501

        Retrieve all matches of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_history_with_http_info(player_id, game, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param str game: A game on FACEIT (required)
        :param int _from: The timestamp (Unix time) as lower bound of the query. 1 month ago if not specified
        :param int to: The timestamp (Unix time) as higher bound of the query. Current timestamp if not specified
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: MatchHistoryList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['player_id', 'game', '_from', 'to', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_player_history" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'player_id' is set
        if self.api_client.client_side_validation and ('player_id' not in params or
                                                       params['player_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `player_id` when calling `get_player_history`")  # noqa: E501
        # verify the required parameter 'game' is set
        if self.api_client.client_side_validation and ('game' not in params or
                                                       params['game'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `game` when calling `get_player_history`")  # noqa: E501

        if self.api_client.client_side_validation and ('_from' in params and params['_from'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `_from` when calling `get_player_history`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('to' in params and params['to'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `to` when calling `get_player_history`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('offset' in params and params['offset'] > 1000):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_player_history`, must be a value less than or equal to `1000`")  # noqa: E501
        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_player_history`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 100):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_history`, must be a value less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_history`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'player_id' in params:
            path_params['player_id'] = params['player_id']  # noqa: E501

        query_params = []
        if 'game' in params:
            query_params.append(('game', params['game']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'to' in params:
            query_params.append(('to', params['to']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/players/{player_id}/history', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MatchHistoryList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_player_hubs(self, player_id, **kwargs):  # noqa: E501
        """Retrieve all hubs of a player  # noqa: E501

        Retrieve all hubs of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_hubs(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: HubsList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_player_hubs_with_http_info(player_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_player_hubs_with_http_info(player_id, **kwargs)  # noqa: E501
            return data

    def get_player_hubs_with_http_info(self, player_id, **kwargs):  # noqa: E501
        """Retrieve all hubs of a player  # noqa: E501

        Retrieve all hubs of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_hubs_with_http_info(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: HubsList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['player_id', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_player_hubs" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'player_id' is set
        if self.api_client.client_side_validation and ('player_id' not in params or
                                                       params['player_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `player_id` when calling `get_player_hubs`")  # noqa: E501

        if self.api_client.client_side_validation and ('offset' in params and params['offset'] > 1000):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_player_hubs`, must be a value less than or equal to `1000`")  # noqa: E501
        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_player_hubs`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 50):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_hubs`, must be a value less than or equal to `50`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_hubs`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'player_id' in params:
            path_params['player_id'] = params['player_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/players/{player_id}/hubs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HubsList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_player_stats(self, player_id, game_id, **kwargs):  # noqa: E501
        """Retrieve statistics of a player for a given amount of matches  # noqa: E501

        Retrieve statistics of a player for a given amount of matches  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_stats(player_id, game_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param str game_id: A game on FACEIT (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :param int _from: Used to filter the dataset by date (minimum). Expected value is date (\"items.stats.Match Finished At\") in epoch milliseconds. 
        :param int to: Used to filter the dataset by date (maximum). Expected value is date (\"items.stats.Match Finished At\") in epoch milliseconds. 
        :return: PlayerStatsForMatchesList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_player_stats_with_http_info(player_id, game_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_player_stats_with_http_info(player_id, game_id, **kwargs)  # noqa: E501
            return data

    def get_player_stats_with_http_info(self, player_id, game_id, **kwargs):  # noqa: E501
        """Retrieve statistics of a player for a given amount of matches  # noqa: E501

        Retrieve statistics of a player for a given amount of matches  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_stats_with_http_info(player_id, game_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param str game_id: A game on FACEIT (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :param int _from: Used to filter the dataset by date (minimum). Expected value is date (\"items.stats.Match Finished At\") in epoch milliseconds. 
        :param int to: Used to filter the dataset by date (maximum). Expected value is date (\"items.stats.Match Finished At\") in epoch milliseconds. 
        :return: PlayerStatsForMatchesList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['player_id', 'game_id', 'offset', 'limit', '_from', 'to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_player_stats" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'player_id' is set
        if self.api_client.client_side_validation and ('player_id' not in params or
                                                       params['player_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `player_id` when calling `get_player_stats`")  # noqa: E501
        # verify the required parameter 'game_id' is set
        if self.api_client.client_side_validation and ('game_id' not in params or
                                                       params['game_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `game_id` when calling `get_player_stats`")  # noqa: E501

        if self.api_client.client_side_validation and ('offset' in params and params['offset'] > 200):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_player_stats`, must be a value less than or equal to `200`")  # noqa: E501
        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_player_stats`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 100):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_stats`, must be a value less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_stats`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'player_id' in params:
            path_params['player_id'] = params['player_id']  # noqa: E501
        if 'game_id' in params:
            path_params['game_id'] = params['game_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'to' in params:
            query_params.append(('to', params['to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/players/{player_id}/games/{game_id}/stats', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlayerStatsForMatchesList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_player_stats_0(self, player_id, game_id, **kwargs):  # noqa: E501
        """Retrieve statistics of a player  # noqa: E501

        Retrieve statistics of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_stats_0(player_id, game_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param str game_id: A game on FACEIT (required)
        :return: PlayerStats
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_player_stats_0_with_http_info(player_id, game_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_player_stats_0_with_http_info(player_id, game_id, **kwargs)  # noqa: E501
            return data

    def get_player_stats_0_with_http_info(self, player_id, game_id, **kwargs):  # noqa: E501
        """Retrieve statistics of a player  # noqa: E501

        Retrieve statistics of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_stats_0_with_http_info(player_id, game_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param str game_id: A game on FACEIT (required)
        :return: PlayerStats
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['player_id', 'game_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_player_stats_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'player_id' is set
        if self.api_client.client_side_validation and ('player_id' not in params or
                                                       params['player_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `player_id` when calling `get_player_stats_0`")  # noqa: E501
        # verify the required parameter 'game_id' is set
        if self.api_client.client_side_validation and ('game_id' not in params or
                                                       params['game_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `game_id` when calling `get_player_stats_0`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'player_id' in params:
            path_params['player_id'] = params['player_id']  # noqa: E501
        if 'game_id' in params:
            path_params['game_id'] = params['game_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/players/{player_id}/stats/{game_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlayerStats',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_player_teams(self, player_id, **kwargs):  # noqa: E501
        """Retrieve all teams of a player  # noqa: E501

        Retrieve all teams of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_teams(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: TeamList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_player_teams_with_http_info(player_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_player_teams_with_http_info(player_id, **kwargs)  # noqa: E501
            return data

    def get_player_teams_with_http_info(self, player_id, **kwargs):  # noqa: E501
        """Retrieve all teams of a player  # noqa: E501

        Retrieve all teams of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_teams_with_http_info(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: TeamList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['player_id', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_player_teams" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'player_id' is set
        if self.api_client.client_side_validation and ('player_id' not in params or
                                                       params['player_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `player_id` when calling `get_player_teams`")  # noqa: E501

        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_player_teams`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 100):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_teams`, must be a value less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_teams`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'player_id' in params:
            path_params['player_id'] = params['player_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/players/{player_id}/teams', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TeamList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_player_tournaments(self, player_id, **kwargs):  # noqa: E501
        """Retrieve all tournaments of a player  # noqa: E501

        Retrieve all tournaments of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_tournaments(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: TournamentsList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_player_tournaments_with_http_info(player_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_player_tournaments_with_http_info(player_id, **kwargs)  # noqa: E501
            return data

    def get_player_tournaments_with_http_info(self, player_id, **kwargs):  # noqa: E501
        """Retrieve all tournaments of a player  # noqa: E501

        Retrieve all tournaments of a player  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_player_tournaments_with_http_info(player_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str player_id: The id of the player (required)
        :param int offset: The starting item position
        :param int limit: The number of items to return
        :return: TournamentsList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['player_id', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_player_tournaments" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'player_id' is set
        if self.api_client.client_side_validation and ('player_id' not in params or
                                                       params['player_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `player_id` when calling `get_player_tournaments`")  # noqa: E501

        if self.api_client.client_side_validation and ('offset' in params and params['offset'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `get_player_tournaments`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 100):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_tournaments`, must be a value less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_player_tournaments`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'player_id' in params:
            path_params['player_id'] = params['player_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['key']  # noqa: E501

        return self.api_client.call_api(
            '/players/{player_id}/tournaments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TournamentsList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
